<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>⚙️ Admin Dashboard</h1>
<a href="{{ url_for('add_product') }}">
    <button>Add New Product</button>
</a>

<h2>All Orders</h2>

{% if orders %}
    {% for order in orders %}
        <div>
            <h3>{{ order.product_name }}</h3>
            <p>Order ID: {{ order.id }}</p>
            <p>User: {{ order.username }}</p>
            <p>Status: {{ order.status }}</p>
            <form method="POST"
      action="{{ url_for('update_order', order_id=order.id) }}">

    <select name="status">
        <option value="Order Placed">Order Placed</option>
        <option value="Shipped">Shipped</option>
        <option value="Delivered">Delivered</option>
    </select>

    <button type="submit">Update Status</button>
</form>
        </div>
    {% endfor %}
{% else %}
    <p>No orders found.</p>
{% endif %}

<br>
<a href="{{ url_for('home') }}">Back to Home</a>

</body>
</html>